@media screen and (max-width: 991px) {
    .content h1{
        font-size: 5rem;
        line-height: 100px;
    }
    .details{
        width: 80%;
        padding-top: 0;
    }
    .details h2{
        font-size: 2.5rem;
    }
    .details p{
        font-size: 1rem;
    }
    .heading{
        font-size: 1.5rem;
        padding: 0;
    }
    /* .border{
        width: 80%;
    }
    .description{
        width: 50%;
        font-size: 1rem;
        margin-bottom: 20px;
    } */
    .border{
        flex-direction: column;
        height: 100%;
        gap: 5px;
    }
    .cmpny-logo img{
        align-items: center;
        width: 50%;
        margin-top: 30px;
        margin-left: 80px;
    }
    .cmpny-logo p{
        padding: 10px;
        margin-top: 10px;
    }
    .description{
        width: 80%;
        font-size: 1rem;
        margin-bottom: 20px;
    }
    .description a{
        margin: 10px;
    }
    .description p{
        line-height: 25px;
    }
    .footer-head{
        font-size: 1.5rem;
    }   
}


@media screen and (max-width: 767px) {

    .main-nav img{
        width: 80px;
        margin-left: 60px;
    }
    main{
        padding-block: 20px;
        margin-top: 40px;
    }
    .content h1{
        font-size: 3.5rem;
        line-height: 50px;
    }
    .content p{
        font-size: 1rem;
        line-height: 20px;
    }
    .header img{
        width: 30%;
    }

    .details h2{
        font-size: 2rem;
    }
    .details p{
        line-height: 35px;
    }
    .heading{
        font-size: 1.2rem;
    }
    .gallery{
        width: 100%;
        grid-auto-rows: 220px;
    }
    .box{
        grid-row: span 1;
        grid-column: span 3;
    }
    .border{
        width: 80%;
    }
    .footer-head{
        font-size: 1.2rem;
    } 
    .navlinks{
        position: absolute;
        background-color: rgb(0, 0, 0);
        color: white;
        left: -100%;
        top: 100%;
        width: 100%;
        padding-block: 20px;
        transition: 0.2s ease-in-out;
    }
    .navlinks.active{
        left: 0;
    }
    .navlinks ul{
        flex-direction: column;
    }
    .nav-toggle{
        display: block;
        padding-right: 30px;
    }


}

@media screen and (max-width: 479px) {
    .main-nav img{
        width: 50px;
        margin-left: 30px;
    }
    main{
        margin-top: 20px;
    }
    .header{
        flex-direction: column;
        padding: 0;
        align-items: flex-start;
        gap: 10px;
    }
    .header img{
        width: 60%;
        margin-left: 20%;
        height: 100%;
    }
    .about{
        margin-top: 10px;
    }
    .content{
        width: 100%;
    }
    .content h1{
        font-size: 2rem;
        line-height: 40px;
    }
    .content p{
        font-size: 0.9rem;       
    }

    .details{
        width: 100%;
    }
    .details h2{
       padding: 0;
       font-size: 1.2rem;
    }
    .details p{
        font-size: 0.8rem;
        line-height: 25px;
    }
    .portfolio{
        margin-inline: 5%;
    }
    .card {
        width: 100%;
    }
    .box{
        height: 90%;
    }
    .heading{
        margin-block: 30px;
    }
    .heading h2{
        font-size: 1.2rem;
    }
    .border{
        flex-direction: column;
        height: 100%;
        gap: 5px;
    }
    .cmpny-logo p{
        font-size: 0.9rem;
    }
    .description a{
        font-size: 1rem;
    }
    .description p{
        font-size: 0.8rem;
        line-height: 20px;
    }
    .border{
        margin-top: 40px;
    }
    .description{
        margin: 0;
        width: 90%;
    }
    .footer-head{
        font-size: 0.9rem;
    }
    .links{
        padding: 0;
        font-size: 0.8rem;
    }
    .links a{
        font-size: 0.6rem;
    }
    footer p{
        font-size: 0.4rem;
    }
}